form {
  width: 90%;
  max-width: 400px;
  margin: 30px auto 20px;

  div {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin: 0 auto 5px;
    }

    input, select {
      width: 100%;
      padding: 3px 3px 3px 6px;
      border-radius: 10px;
      outline: none;
      border: 1px solid #242424;
    }

    &.button-form {
      button {
        display: block;
        margin: 0 0 0 auto;

        border-radius: 7px;
        background-color: transparent;
        border: 1px solid #242424;
        outline: none;
        cursor: pointer;
        color: darkcyan;
        transition: .25s all;
        padding: 5px 15px;

        &:hover, &:focus {
          color: cyan;
          background-color: darkcyan;
        }

        &[disabled] {
          opacity: 0.4;
        }


      }
    }
  }
}

p {
  text-align: center;
}
